# Copyright 2024 - 2025 Khalil Estell and the libhal contributors
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: 游빍 tests

on:
  workflow_call:
    inputs:
      repo:
        type: string
        default: ${{ github.repository }}
        description: "The repo with the conan package to build from"
      version:
        type: string
        default: ""
        description: "Version of the git repo to checkout. Must match an available git ref or tag. The tag must follow SEMVER-2."
      dir:
        type: string
        default: "."
        description: "Directory where the conan package exists"
      conan_version:
        type: string
        default: 2.22.2
        description: "Which conan version to install"
      config2_version:
        type: string
        default: main
        description: "Set the version to pull the libhal conan-config2 info. This must be a tagged version of the config-conan2 repo"

      # ========================================================================
      # Deprecated inputs
      # ========================================================================
      library:
        type: string
        default: ${{ github.event.repository.name }}
        description: "(DEPRECATED) No longer needed or used."
      llvm:
        type: string
        default: "17"
        description: "(DEPRECATED) Version of LLVM to install via homebrew, no longer used The llvm binary comes from the llvm-toolchain package within the llvm profile."
      coverage:
        type: boolean
        default: false
        description: "(DEPRECATED) No longer used, coverage should be handled by the package itself."
      fail_on_coverage:
        type: boolean
        default: false
        description: "(DEPRECATED) No longer used, coverage should be handled by the package itself."
      coverage_threshold:
        type: string
        default: "40 80"
        description: "(DEPRECATED) No longer used, coverage should be handled by the package itself."
jobs:
  run_tests:
    strategy:
      fail-fast: false
      matrix:
        include:
          - runner_os: ubuntu-24.04
            arch: x86_64
            os: Linux
          - runner_os: macos-latest
            arch: armv8
            os: Macos
          # # ==================================================================
          # # Disabled: Executing unit test binaries seg fault
          # # ==================================================================
          # # TODO(#95): Enable Windows
          # - runner_os: windows-latest
          #   arch: x86_64
          #   os: Windows

    runs-on: ${{ matrix.runner_os }}
    env:
      VERBOSE: 1
    steps:
      - uses: actions/checkout@v4.1.1
        if: ${{ inputs.version != '' }}
        with:
          submodules: true
          repository: ${{ inputs.repo }}
          ref: ${{ inputs.version }}

      - uses: actions/checkout@v4.1.1
        if: ${{ inputs.version == '' }}
        with:
          submodules: true
          repository: ${{ inputs.repo }}

      - name: 游닌 Install Conan ${{ inputs.conan_version }}
        run: pipx install conan==${{ inputs.conan_version }}

      - name: 游댌 conan version
        run: conan --version

      - name: 游니 Create and setup default profile
        run: conan profile detect --force

      - name: 游니 Add `libhal` repo to conan remotes
        run: conan remote add libhal
          https://libhal.jfrog.io/artifactory/api/conan/trunk-conan

      - name: 游니 Install libhal settings_user.yml
        run: conan config install https://github.com/libhal/conan-config2.git --args="-b ${{ inputs.config2_version }}"

      - name: 游댧 Create & Run Unit Tests
        run: conan create ${{ inputs.dir }} -s:h build_type=Debug --version=latest -s:h os=${{ matrix.os }} -s:h arch=${{ matrix.arch }} --build=missing -pr:h hal/tc/llvm -o "*:enable_clang_tidy=True"
